body.archive .wrap.container-fluid {
  background: $primary;
  padding-top: 6em;

  .main {
    padding-bottom: 8em;
  }

  article.event {
    @include heading-dotted-border();

    position: relative;
    top: auto;
    left: 0;
    width: 60%;
    margin: 0 auto;
    margin-bottom: 3em;

    header {
      position: relative;
    }

    .entry-summary {
      font-family: $text-ff;
      font-weight: 300;
      font-size: $base-fontsize;
      line-height: 1.6;
      padding-top: 2.5em;
    }

    .entry-title {
      font-weight: bold;
      font-size: 1.75rem;

      p {
        margin-bottom: 0;
      }
    }

    .badge.badge-info {
      font-family: $text-ff;
      background: transparent;
      color: $black;
      border-radius: 0;
      font-size: 0.85rem;
      font-weight: 700;
      padding: 0;
      text-align: left;
      line-height: 1.6;

      .event-address {
        font-weight: 400;
        font-size: 14px;
      }
    }
  }
}
