body.archive .wrap.container-fluid {
  // background: $primary;
  padding-top: 6em;
  padding-left: 0;
  padding-right: 0;

  .main {
    padding-bottom: 8em;
  }

  article.event {
    @include heading-dotted-border-black();
    @include shadow();

    position: relative;
    top: auto;
    left: 0;
    width: 60%;
    padding: 35px 35px 30px;
    margin: 0 auto;
    margin-bottom: 5em;

    header {
      position: relative;
      margin-top: 10px;
    }

    .entry-summary {
      font-family: $text-ff;
      font-weight: 300;
      font-size: $base-fontsize;
      line-height: 1.6;
      padding-top: 4.5em;
    }

    .entry-title {
      font-size: 2rem;
      color: $black;
      margin-bottom: 15px;
      padding-left: 60px;

      p {
        margin-bottom: 0;
      }
    }

    .badge.badge-info {
      font-family: $text-ff;
      background: transparent;
      color: $black;
      border-radius: 0;
      font-size: 0.85rem;
      font-weight: 400;
      padding: 0;
      text-align: left;
      line-height: 1.6;

      .event-address {
        font-weight: 400;
        font-size: 14px;
      }
    }

    .event-icon {
      position: relative;

      img {
        width: 50px;
        position: absolute;
        top: -10px;
        left: 0;
      }
    }

    .event-date,
    .event-time,
    .event-price {
      background: $primary;
      color: #fff;
      padding: 3px 10px;
      display: inline-block;
      margin-right: 5px;
      margin-bottom: 10px;
      border-left: 4px solid $black;
    }

    .event-location {
      font-weight: 700;
      font-size: 1.1em;
    }
  }
}
