figure.image-bordered,
.image-bordered figure {
  position: relative;
  margin: 0;
  padding: 3px;

  @include dotted-border('orange');

  figcaption {
    @include boxed-heading();
  }

  @include media-breakpoint-only(sm) {
    margin: 0 50px;
  }
}

.vc_empty_space {
  @include media-breakpoint-down(sm) {
    display: none;
  }
}
